<%- include("header") -%>

<div class="box" id="heading">
  <h1>Welcome To About Us Page</h1>
  <p>I'm a To-Do App which list all of the list item in a list. Also you can maintain seperate lists.</p>
</div>

<%- include("footer") -%>
